<!-- TARJETA NORMAL -->
<app-tarjeta>
    <article [ngClass]="{ 'completada': tarea.completada === 1 }"
             [style.backgroundImage]="'linear-gradient(to right, rgba(15, 10, 25, 0.95) 0%, rgba(15, 10, 25, 0.7) 45%, rgba(15, 10, 25, 0.1) 100%), url(img/' + (tarea.imagenFondo ? tarea.imagenFondo : 'bg_jujutsu.png') + ')'"
             style="background-size: cover; background-position: center;">
        <h2>{{ tarea.titulo }}</h2>
        <time>{{ tarea.expira | date: 'fullDate' }}</time>
        <p>{{ tarea.resumen }}</p>
        
        @if (auth.estaAutenticado()) {
          <div class="acciones">
              @if (tarea.completada !== 1) {
                <button class="btn-terminar" (click)="alCompletarTarea()">Terminar</button>
                <button class="btn-editar" (click)="alEditarTarea()">Editar</button>
                <button class="btn-borrar" (click)="alBorrarTarea()">Borrar</button>
              } @else {
                  <button class="btn-reabrir" (click)="alReabrirTarea()">Reabrir</button>
                  <button class="btn-borrar" (click)="alBorrarTarea()">Borrar</button>
              }
          </div>
        }
    </article>
</app-tarjeta>